In [32]:
import pandas as pd

In [33]:
df = pd.read_csv('../data/broadcast.csv', index_col = 0) 
df[['SBS', 'JTBC']]

         SBS   JTBC
2011  11.173  7.380
2012  11.408  7.878
2013   9.673  7.810
2014   9.108  7.490
2015   9.099  7.267
2016   8.669  7.727
2017   8.661  9.453